
body {
  	margin: 0;
  	line-height: normal;
}



.div {
  	position: absolute;
  	top: 30px;
  	left: 495px;
  	font-size: 36px;
  	color: #000;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 50px;
}
.div1 {
  	position: absolute;
  	top: 30px;
  	left: 685px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 50px;
}
.div2 {
  	position: absolute;
  	top: 30px;
  	left: 875px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 50px;
}
.div3 {
  	position: absolute;
  	top: 30px;
  	left: 1065px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 50px;
}
.debug-1920-002-child {
  	position: absolute;
  	top: 30px;
  	left: 1315px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 50px;
  	height: 50px;
}
.version-002 {
  	position: absolute;
  	top: 981px;
  	left: 876px;
  	font-size: 12px;
  	color: rgba(0, 0, 0, 0.6);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 20px;
}
.debug-1920-002-item {
  	position: absolute;
  	top: 244px;
  	left: 686px;
  	border-radius: 15px;
  	background-color: rgba(217, 217, 217, 0.5);
  	width: 550px;
  	height: 700px;
}
.debug {
  	position: absolute;
  	top: 210px;
  	left: 876px;
  	font-size: 14px;
  	color: rgba(0, 0, 0, 0.8);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 170px;
  	height: 21px;
}
.div4 {
  	position: absolute;
  	top: 264px;
  	left: 686px;
  	font-weight: 300;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 549px;
  	height: 50px;
}
.debug1 {
  	position: absolute;
  	top: 332px;
  	left: 686px;
  	font-weight: 300;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 550px;
  	height: 100px;
}
.debug-1920-002 {
  	width: 100%;
  	position: relative;
  	background-color: #f6f6f6;
  	height: 1024px;
  	text-align: center;
  	font-size: 20px;
  	color: rgba(0, 0, 0, 0.7);
  	font-family: "M PLUS 1", sans-serif;
}

